# 1. Security Keys
.env
.env.example
*.pem
*.key
fyp-key.pem

# 2. Python Junk
__pycache__/
*.pyc
venv/
.pytest_cache/

# 3. Mobile Build Files
mobile-app/android/app/build/
mobile-app/ios/Pods/
*.apk
*.ipa

# 4. System Files
.DS_Store
Thumbs.db


# 6. Misc
test*